.movie-poster {
    width: 100%;
    height: 70vh;
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 70vh;
        aspect-ratio: fill;
    }

    .back-button {
        color: rgba($color: #fff, $alpha: .6);
        position: absolute;
        font-size: 1.5rem;
        top: 1%;
        left: 2%;
        z-index: 2;
        cursor: pointer;
        animation: rightLeft 1s infinite;

        &:hover {
            color: rgba($color: #fff, $alpha: .9);
        }
    }

    .movie-body {
        position: absolute;
        width: 100%;
        height: 70vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .caption {
            color: white;
            text-align: center;
            font-size: 2rem;
        }

        .play-icon {
            font-size: 4rem;
            color: rgba(0, 0, 0, 0.9);
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
        }
    }
}

@keyframes rightLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-.4rem);
    }

    100% {
        transform: translateX(0);
    }
}