.movie-poster {
    width: 100%;
    height: 60vh;
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 60vh;
        aspect-ratio: fill;
    }

    .movie-body {
        position: absolute;
        width: 100%;
        height: 60vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .caption {
            color: white;
            text-align: center;
            font-size: 2rem;
        }

        .play-icon {
            font-size: 4rem;
            color: rgba(0, 0, 0, 0.9);
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
        }
    }
}