.list-inline-item  {
    .btn-outline-info{
        color: #5a606b;
        border: 1px solid #5a606b;
        margin-bottom: 1rem;
        border-radius: 2rem;
        font-weight: 500;
        &:hover{
            // color: #ffffff;
            border-color: #ffffff;
            // background-color: transparent;
            transition: all 0.3s ease-in-out;
        }
    }
}
