*,
*::before
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html,
body,
#root {
  height: 100%; 
  width: 100%; 
  font-size: 3vmin;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
